<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Ошибка 404</title>
<% include header %>
<section class="section-coming">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-md-offset-1">
                <div class="jumbotron jumbotron-3 text-center">
                    <h1><small>404</small><span class='font-weight-bold'>Страница не найдена</span>
                    </h1>
                    <p>
                    </p>
                    <p class="h5 fw-l">Запрашиваемая страница не найдена. Это может быть связано с ошибкой в URL, или страница была удалена.</p><a class="btn btn-sm btn-success" href="/">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Content-->
<main class="page-content"></main>
<% include footer %>