<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Контакты</title>
<% include header %>
<main class="page-content">
    <section class="bg-light section-xl">
        <ol class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Контакты</li>
        </ol>
    </section>
    <section class="section section-inset-1">
        <div class="container">
            <h2>Контакты</h2>
            <hr>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- RD Mailform-->
                    <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="forms" method="post" action="/contact">
                        <div class="row row-10">
                            <div class="col-12 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label" for="forms-name">Ваше имя...</label>
                                    <input class="form-input" id="forms-name" type="text" name="name" data-constraints="@Required">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label" for="forms-last-name">Ваша фамилия...</label>
                                    <input class="form-input" id="forms-last-name" type="text" name="lastname" data-constraints="@Required">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label" for="forms-email">Ваш e-mail...</label>
                                    <input class="form-input" id="forms-email" type="email" name="email" data-constraints="@Email @Required">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label" for="forms-phone">Контактный телефон...</label>
                                    <input class="form-input" id="forms-phone" type="text" name="phone" data-constraints="@PhoneNumber @Required">
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-wrap">
                                    <label class="form-label" for="forms-message">Текст письма:</label>
                                    <textarea class="form-input" id="forms-message" name="message" data-constraints="@Required"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-success btn-sm" id="submit" type="submit" value="Contact">Отправить письмо</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>
<% include footer %>