<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Смотреть онлайн <%=film.name %> в хорошем качестве </title>
<% include header %>
<main class="page-content">
    <section class="bg-light section-xl">
        <ol class="breadcrumb">
            <li><a href="/">Каталог</a></li>
            <li class="active"><%=film.name %></li>
        </ol>
    </section>
    <div class="section section-inset-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <section class="section-inset-2">
                        <h2><%=film.name %> Смотреть в хорошем качестве бесплатно</h2>
                        <hr>
                        <div class="row row-45">
                            <div class="col-12 col-md-12 col-lg-6 text-lg-left well1">
                                <div class="row">
                                    <div class="col-sm-6"><img src="<%=film.image %>" alt="<%=film.name %>"></div>
                                    <div class="col-sm-6 text-left offset-top-30">
                                        <div class="review-2"><span class="icon fa-star icon-waring-2"></span>
                                            <span class="icon fa-star icon-waring-2"></span>
                                            <span class="icon fa-star icon-waring-2"></span>
                                            <span class="icon fa-star icon-waring-2"></span>
                                            <span class="icon fa-star icon-waring-2 text-gray"></span>
                                                </div>
                                        <span class="font-weight-bold">Год:&nbsp;<span class="font-weight-light"><%=film.year %> <br></span></span>
                                        <span class="font-weight-bold">Производство:&nbsp;<span class="font-weight-light text-primary"><%=film.countries %> <br></span></span>
                                        <span class="font-weight-bold">Жанр:&nbsp;<span class="font-weight-light text-primary"><%=film.genre %><br></span></span>
                                        <span class="font-weight-bold">Режисер:&nbsp;<span class="font-weight-light text-primary"><%=film.directors %> <br></span></span>
                                        <span class="font-weight-bold">Озвучка:&nbsp;<span class="font-weight-light text-primary"><%=film.translator %> <br></span></span>
                                        <span class="font-weight-bold">Продолжительнось:&nbsp;<span class="font-weight-light"><%=film.time %><br></span></span>
                                        <span class="font-weight-bold">В ролях:&nbsp;<span class="font-weight-light text-primary"><%=film.actors %> <br></span></span>

                                   </div>
                                </div>
                            </div>
                            <div class="description">   <p><%=film.description %></p> </div>
                            <div class="player">

                                <iframe src="<%=film.video %>" width="640" height="480" frameborder="0" allowfullscreen></iframe>

                                <div class="opisan_pleer"><img src="/public/images/sm.png" align="left" width="32 height="52"><p>Наш плеер работает на телефонах и планшетах с поддержкой Android и IOS. Поэтому вы можете <strong> <%=film.name %> <%=film.year %> смотреть онлайн на андроид телефоне</strong>. Также на нашем сайте вы сможете смотреть фильмы под системой IOS на iPad или iPhone.</p></div>
                            </div>

                        </div>

                    </section>
                    <section class="section section-inset-1">
                      <!--  <div class="col-12 col-md-12 col-lg-6 text-center text-lg-left"> -->

                              <!--  <div class="video-box">
                                    <div class="video-box-play"><a href="<%=film.video %>" data-lightgallery="item"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                                       </div> -->





                       <!-- </div> -->
                    </section>


                </div>
            </div>
        </div>
    </div>
</main>
<% include footer %>