<!-- Page Footer-->
<footer class="page-foot bg-gray-900">
    <section class="footer-content">
        <div class="container">
            <div class="rd-navbar-brand-2"><a class="brand-name" href="/"><img src="/public/images/logo-default.png" alt=""></a></div>
           </div>
    </section>
    <section class="footer-copyright-1 copyright">
        <div class="container">
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><br class="d-sm-none"/><noindex><a href="/contact/contact" rel="nofollow">Обратная связь.</a></noindex></p>
        </div>
    </section>
</footer>
<!-- Rd Mailform result field-->
<div class="rd-mailform-validate"></div>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Java script-->
</script><script src="/public/js/core.min.js"></script>
<script src="/public/js/script.js"></script>
<!-- coded by Starlight-->

</body>
<!-- Google Tag Manager -->

<!-- End Google Tag Manager -->
</html>