    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
   <!-- <script src="/public/js/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="/public/images/favicon.ico" type="image/x-icon"> -->
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400%7CRoboto+Slab:300,400,700%7CMontserrat:700%7CPacifico">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="https://windows.microsoft.com/en-US/internet-explorer/"><img
                src="/public/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="/public/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Page-->
<div class="page text-center">
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
    <!-- Page Header-->
    <header class="page-head">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-transparent rd-navbar-wrap-mod-1">
            <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-offset="100px">
                <!--(data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout=rd_navbar_data_ajuster )-->

                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" type="submit"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a class="brand-name" href="/"><img src="/public/images/logo-default.png" alt=""></a></div>
                    </div>

                </div>
            </nav>
        </div>
        <!-- Слайдер карусель -->
        <section class="owl-slider">
            <div class="container">
                <div class="row">
                    <div class="owl-carousel owl-carousel-mod-1 owl-carousel-mod-3" data-items="1" data-md-items="2" data-xl-items="2" data-loop="true" data-margin="15" data-dots="true" data-autoplay="true" data-lg-dots-each="2" data-xs-stage-padding="15">
                        <div class="owl-item">
                            <div class="owl-item-slide-caption">
                                <div class="col-12 wow-outer text-left"><a href="movie-details.html"><img src="/public/images/slider-1-570x364.jpg" alt="" width="570" height="364"/></a>
                                    <h6 class="offset-top-25"><a href="movie-details.html">IT (2017)</a></h6>
                                    <p>2017, США, Драма, Ужасы, Триллер</p>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="owl-item-slide-caption">
                                <div class="col-12 wow-outer text-left"><a href="movie-details.html"><img src="/public/images/slider-2-570x364.jpg" alt="" width="570" height="364"/></a>
                                    <h6 class="offset-top-25"><a href="movie-details.html">The Haunting of Hill House</a></h6>
                                    <p>2018, США, Драма, Ужасы, Мистика</p>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="owl-item-slide-caption">
                                <div class="col-12 wow-outer text-left"><a href="movie-details.html"><img src="/public/images/slider-3-570x364.jpg" alt="" width="570" height="364"/></a>
                                    <h6 class="offset-top-25"><a href="movie-details.html">First Man (2018)</a></h6>
                                    <p>2018, США, Биография, Драма, История</p>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="owl-item-slide-caption">
                                <div class="col-12 wow-outer text-left"><a href="movie-details.html"><img src="/public/images/slider-4-570x364.jpg" alt="" width="570" height="364"/></a>
                                    <h6 class="offset-top-25"><a href="movie-details.html">Black Mirror</a></h6>
                                    <p>2011, США, Драма, Триллер</p>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="owl-item-slide-caption">
                                <div class="col-12 wow-outer text-left"><a href="movie-details.html"><img src="/public/images/slider-5-570x364.jpg" alt="" width="570" height="364"/></a>
                                    <h6 class="offset-top-25"><a href="movie-details.html">Daredevil</a></h6>
                                    <p>2015, США, Драма, Триллер</p>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="owl-item-slide-caption">
                                <div class="col-12 wow-outer text-left"><a href="movie-details.html"><img src="/public/images/slider-6-570x364.jpg" alt="" width="570" height="364"/></a>
                                    <h6 class="offset-top-25"><a href="movie-details.html">Stranger Things</a></h6>
                                    <p>2016, США, Драма, Фентези, Ужасы</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!-- Конец слайдера -->