<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Смотреть фильмы и сериалы онлайн</title>
<% include header %>
    <!-- Page Content-->
    <main class="page-content">
        <section class="section">

            <div class="container isotope-wrap">
                <h2>Смотреть фильмы онлайн</h2>
                <hr>
                <div class="btn-group-isotope isotope-filters">
                  <!--  <button class="btn btn-success-mod-1 btn-sm active text-capitalize" data-isotope-filter="*" data-isotope-group="gallery">Популярные</button>
                    <button class="btn btn-success-mod-1 btn-sm text-capitalize" data-isotope-filter="type-1" data-isotope-group="gallery">Новинки</button>
                    <button class="btn btn-success-mod-1 btn-sm text-capitalize" data-isotope-filter="type-2" data-isotope-group="gallery">Скоро на сайте</button>-->
                </div>


                <div class="isotope offset-top-10 masonry-gallery row thumbnail-main-section" data-isotope-layout="masonry" data-isotope-group="gallery" data-lg-thumbnail="false" data-addClass="main">
                    <% for (var i = 0; i < films.length; i++) { %>
                    <div class="thumbnail-gallery isotope-item col-9 col-sm-6 col-lg-3" data-filter="type-1">

                        <div class="thumbnail-gallery-wrapper"><img src="<%=films[i].image %>" alt="<%=films[i].name %>">
                            <div class="caption-2">
                                <div class="caption-wrapper"><a href="/<%=films[i].url %>"><span class="icon icon-white fl-line-ui-play126"></span></a></div>
                            </div>
                        </div>
                        <div class="div text-left">
                            <h6 class="title-block offset-top-20"><a href="/<%=films[i].url %>"><%=films[i].name %></a></h6>
                            <p class="text-gray"><%=films[i].year %><%=films[i].cointry %>, <%=films[i].genre %></p>
                            <div class="review"><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2"></span><span class="icon fa-star icon-waring-2 text-gray"></span></div>
                        </div>
                    </div>
                    <% } %>
                </div>


            </div>

            <% if (pages > 0) { %>
            <ul class="pagination pagination-center offset-pagination">

                <% if (current == 1) { %>

                <li class="disabled"><span class="page-item"></span></li>

                <% } else { %>
                <li><a class="page-item" href="/page=<%= Number(current) - 1 %>"></a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="disabled"><span class="page-item">...</span></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="disabled"><span class="page-item"><%= i %></span></li>
                <% } else { %>
                <li><a class="page-item" href="/page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"><span class="page-item">...</span></li>
                <% } %>
                <% } %>
                <% if (current == pages) { %>
                <li class="disabled"><span class="page-item"></span></li>
                <% } else { %>
                <li><a class="page-item" href="/page=<%= Number(current) + 1 %>"></a></li>
                <% } %>
            </ul>
            <% } %>


        </section>
    </main>
<% include footer %>
