<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Письмо отправлено</title>
    <% include header %>
    <section class="section-coming">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-md-offset-1">
                    <div class="jumbotron jumbotron-3 text-center">
                        <h1><span class='font-weight-bold'>Ваше письмо отправлено!</span></h1>
                        <p>
                        </p>
                        <p class="h5 fw-l">Ваше письмо отправлено! И в ближащее время будет рассмотрено администрацией портала. Спасибо за обращение!</p><a class="btn btn-sm btn-success" href="/">Вернуться на главную</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Content-->
    <main class="page-content"></main>
<% include footer %>